:root{
    --primary-text-color: #212121;
    --referent-text-color: #757575;
    --title-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --studio-color: #000000;
    --scills-text-color: #F5F4FA;
    --hero-background-color: #2F303A;
    --svg-color: #afb1b8;
    --form-btn: #188CE8;
    --head-border: #ECECEC;
    --box-border: #EEEEEE;
    }