.specialists {
background: #F5F4FA;
padding: 94px 0;
}
.specialists__body {
margin: 0 auto;
width: 1200px;
padding: 0 15px;}
.specialists__title {
align-self: center;
margin-bottom: 50px;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: .03em;
color: var(--primary-text-color);
}
.specialists__item{
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.specialists__list {
display: flex;
justify-content: center;
gap: 30px;
}
.specialists__info {
display: flex;
flex-direction: column; 
align-items: center;
background-color: var(--title-text-color);
padding: 30px 0;
}
.specialists__name {
margin-bottom: 10px;
}
.specialists__directions {
margin-bottom: 16px;
}
.socials__link {
background-color: var(--title-text-color);
border-radius: 50%;
transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
        fill: var(--title-text-color);
        svg.socials__icon{
        fill: var(--title-text-color); 
        }
        }   
}
.specialists__info svg.socials__icon{
fill: var(--svg-color);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
