.scills{
    display: flex;
    align-items: center;
}
.scills__body{    
    width: 450px;
    margin: 0 auto;
    padding: 0 15px;
    @media (min-width: 768px){
        width: 768px;
    }
    @media (min-width: 1200px){
        width: 1200px;
    }
}
.scills__list {
padding-top: 60px; 
display: flex;
flex-wrap: wrap;
gap: 30px;
@media (min-width: 1200px){
    padding-top: 94px;
    padding-bottom: 94px;
}
}
.scills__text {
width: 450px;
height: 50px;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--referent-text-color);
margin: 0;
    @media (min-width: 768px) {
       width: 354px;
       height: 48px;
    }
    @media (min-width: 1200px) {
        width: 270px;
        height: 72px;
    }
 }
 
.scills__title {
color: var(title-text-color);
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 10px;
margin-top: 0;
}
 
 .scills__symbol {  
display: flex;
justify-content: center;
align-items: center;
width: 450px;
height: 120px;
margin-bottom: 30px;
background: var(--scills-text-color);
border-radius: 4px;
@media (min-width: 768px) {
    width: 354px;
    }
@media (min-width: 1200px) {
    width: 270px;
    }
}
